version: 2.1

workflows:
  test-env-vars:
    jobs:
      - build

jobs:
  deploy-job:
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:RsUBd7jL/UmKCo8+TtHDlcJSJh1tL+sccKmtnqXAntM edisonedogun@gmail.com"
  print_hello:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo hello
  print_world:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - run: echo world
workflows:
  # Name the workflow "welcome"
  welcome:
    # Run the welcome/run job in its own container
    jobs:
      - welcome/run
      - print_hello
      - print_world:
          requires:
            - print_hello
