version: 2.1

commands:
  print_pipeline_id:
    parameters:
     id:
      type: string
    steps:
     - add_ssh_keys:
          fingerprints:
            - "SHA256:jfWZIfyFQtUjazAc4JZPLdhSbmAw1OwQwsFpH93Pa1M edisonedogun@gmail.com"
      - run: echo <<parameters.id>>

jobs:
  my_job:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - print_pipeline_id:
          id: <<pipeline.id>>

workflows:
  my_workflow:
    jobs:
      - my_job
