version: 2.1

workflows:
  test-env-vars:
    jobs:
      - build

jobs:
  deploy-job:
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:RsUBd7jL/UmKCo8+TtHDlcJSJh1tL+sccKmtnqXAntM edisonedogun@gmail.com"
  build:
    docker:
      - image: cimg/base:2021.11
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD  # context / project UI env-var reference
    steps:
      - checkout
      - run:
          name: "echo an env var that is part of our project"
          command: |
            echo $MY_NAME # this env var must be set within the project
